extends layout

block content
    div.class.row
        div.class.col-lg-6
            h1 #{title}
            h2 #{message}
    
    div.class.row
        div.class.col-lg-6 
            for event in events
                p.a.btn.btn-primary.btn-lg(href="#", role="button", id=event.urlID, onclick="window.location.href='/event/"+ event.urlID + "'") #{event.name}
                br
                br
    
