doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		//link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
		block title
		// Bootstrap core CSS
		link(rel='stylesheet', href='/styles/lib/bootstrap/bootstrap.min.css')
		link( rel="stylesheet" href='/styles/template/sticky-footer-navbar.css')
		// Custom styles for this template
		//link(href='#{pathToSelectedTemplateWithinBootstrap}/sticky-footer-navbar.css', rel='stylesheet')
		// Just for debugging purposes. Don't actually copy these 2 lines!
		//if lt IE 9
			script(src='#{pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js')
		//script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')
		// IE10 viewport hack for Surface/desktop Windows 8 bug
		//script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		// Fixed navbar
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Bolão

				.collapse.navbar-collapse
					ul.nav.navbar-nav
						- var act
						if tab == "index"
							- act = "active"
						li(class=act)
							a(href='/') Home
							- act = ""

						if tab == "events"
							- act = "active"
						li(class=act)
							a(href='/events') Events
							- act = ""
						
						if tab == "rules"
							- act = "active"
						li(class=act)
							a(href='/rules') Rules
							- act = ""
							
						if tab == "pools"
							- act = "active"
						li(class=act)
							a(href='/pools') Pools
							- act = ""

						if tab == "contact"
							- act = "active"
						li(class=act)
							a(href='/contact') Contact
							- act = ""

						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='#') Action
								li
									a(href='#') Another action
								li
									a(href='#') Something else here
								li.divider
								li.dropdown-header Nav header
								li
									a(href='#') Separated link
								li
									a(href='#') One more separated link
		br
		br
		.container
			block content

		footer.footer
			.container
				p.text-muted Bolao - Coming Soon
				
		script(src="/js/lib/jquery/jquery-2.1.4.min.js")
		script(src="/js/lib/bootstrap/bootstrap.min.js")
