extends layout

block content
    link(rel='stylesheet', href='/styles/matches.css')
        
    div.class.row
        div.class.col-lg-6
            h1 #{info.name} #{info.season}
            h2 #{title}
            p #{info.description}
            br
            br
            p Matches in event:
    div.class.row
        div.class.col-lg-6            
            table.table.table-hover.table-striped
                thead.tr
                    td
                    td Home Team
                    td Score
                    td Away Team
                    td
                tbody
                    for match in matches
                        tr 
                            td
                                img.logo(src="data:image/png;base64," + match.homeTeamID.logo) 
                            td #{match.homeTeamID.name}
                                
                            td #{match.homeScore} X #{match.awayScore}
                            td #{match.awayTeamID.name}
                            td
                                img.logo(src="data:image/png;base64," + match.awayTeamID.logo)
                                        

                    
            
