extends layout

block content
    div.class.row
        div.class.col-lg-6
            h1 #{title}
            h2 #{message}
    
    div.class.row
        div.class.col-lg-6 
            p Evento
    
