extends layout

block content
    div.class.row
        div.class.col-lg-6
            h1 #{title}
            h2 #{message}
    
    div.class.row
        p Add new rule:
    form.newRule(role="form" action='/rules' method='POST')
        div.class.row
            div.class.col-lg-6 
                label(for="textNome" class="control-label") Nome
                input#textNome.form-control(name="textNome" type="text" placeholder="Nome da regra...")
                label(for="textDescription" class="control-label") Descrição
                input#textDesctription.form-control(name="textDescription" type="text" placeholder="Descrição da regra...")
            div.class.col-lg-6
                label(for="textFunction" class="control-label") Função
                input#textFunction.form-control(name="textFunction" type="text" placeholder="Função associada...")
                label(for="textCategory" class="control-label") Categoria
                input#textCategory.form-control(name="textCategory" type="text" placeholder="Categoria da regra...")
            
        div.class.row
            div.class.col-lg-6 
                br
                button.btn.btn-primary(type="submit") Adicionar regra
                     
        
            
    div.class.row
        div.class.col-lg-6            
            table.table.table-hover.table-striped
                thead.tr
                    td Nome
                    td Descrição
                    td Função associada
                    td Categoria
                tbody
                    for rule in rules
                        tr 
                            td #{rule.name}
                            td #{rule.description}
                            td #{rule.functionName}
                            td #{rule.category}
